@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
    background-color: #ecebea;
    font-family: 'Exo 2', sans-serif;
}


.navbar{
    padding: 10px 25px;
    background-color: #ecebea;
    box-shadow: 0px 1px 1px;
}

.navbardiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position:relative;
}

.navlinks{
    list-style: none;
    display:flex;
    align-items: center;
    gap:20px;
}

.navlinks li a{
    text-decoration: none;
    color:black;
    font-weight:bold;
    display: flex;
    align-items: center;
    gap: 5px;
}

.navlinks li a:hover{
    color: #144900;
}

/* Hamburgere */
.menu-toggle{
display:none;
}

.hamburger{
    display:none;
    flex-direction:column;
    cursor:pointer;
    gap: 5px;
}

.hamburger span{
    width: 25px;
    height:3px;
    background-color:#144900;
    border-radius: 2px;
}

/*To show on small screens */
@media (max-width: 786px){
    .hamburger{
        display: flex;
    }

    .navlinks{
        display:none;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 60px;
        right: 25px;
        gap:10px;
        background-color: white;
        border:1px solid #ccc;
        padding:10px;
    }

    .navbardiv img{
         width:100px;
    }

    .menu-toggle:checked + .hamburger +.navlinks {
        display:flex;
    }
}

.section-hero {
    width: 100%;
    min-height: 100vh;
    margin-bottom: 40px;
}

.hero{
   width: 85%;
   display:block;
   margin: auto;
   padding-top:90px;
}

.hero-content{
    float: left;
    width: 55%;
}

.title{
    color: #144900;
    font-size: 50px;
} 

.hero-content .description{
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.5;
}

.hero-content .hero-btn{
    margin: 40px 30px 60px 0px;
}


.delivered{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 0px;
}

.delivered-text p {
    margin-left: 30px;
}


.image-box{
    float: right;
    width:42%;
}

.image-box img{
    height: auto;
    width:100%;
    /*shadow?*/
}

/*The tiny profile pics */
.pics {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#pic{
    border-radius: 100px;
    border: 3px solid #A5DA91;
    margin: -11px;
}

.hero-btn{
    border: none;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    background-color:  #2B6D12;
    margin: 5px;
}

.hero-btn:hover{
    border: 2px solid  #2B6D12;
    background-color: white;
    color:  #2B6D12;
    font-weight: bold;
}

#hero-icon{
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    color: white;
    background-color:  #2B6D12;
    margin: 5px;
}

#hero-icon:hover{
    border: 2px solid  #2B6D12;
    background-color: white;
    color: #2B6D12;
    font-weight: bold;
}

@media screen and (max-width: 768px){
   .hero{
      width: 85%;
      display:block;
      margin: auto;
      padding-top:50px;
    }
    .hero-content{
       float: none;
       width: 55%;
   }
    .image-box{
       margin-top: 25px;
       float: none;
       width:100%;
    }
    .title{
        font-size: 35px;
    }

}

h5{
    text-align: center;
    color: #2B6D12;
    font-size: 15px;
}

.products{
     background-color: white;
}

.products-text{
    text-align:center;
}

.products-head h5{
    margin-top: 50px;
}

.product-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px 0 20px;  /*i kept having issues with mu #more, had to fix it with the section side */
}

.container{
    width:350px;
    height: 500px;
    background-color: #A5DA91;
    border-radius: 8px;
    overflow: hidden;   /*Maybe i can do something about that hero with this too */
    box-shadow: 0px 2px 5px rgba(115, 181, 91, 0.9);
    margin:20px;
}

.container:hover{
    width:350px;
    height: 500px;
    background-color: #A5DA91;
    border: 2px solid white;
    transform: scale(1) translateY(-20px);
    transition: 0.7s;
    border-radius: 8px;
    overflow: hidden;   /*Maybe i can do something about that hero with this too */
    box-shadow: 0px 8px 5px rgba(115, 181, 91, 0.9);
    margin:20px;
}

.container img{
    width: 100%;
    height: auto;
}
   
.container-content{
    padding: 16px;
    margin: 5px;
    text-align: center;
}

.container-content h6{
    font-size: 16px;
    margin-bottom: 8px;
   color: white;
   font-weight: bold;
}

.container-content a{
    font-size: 17px;
    color: #144900;
    text-decoration: none;
}

.container-content a:hover{
    font-size: 20px;
    transition: 0.3s;
    color: white;
    text-decoration: none;
}

#more{
    display:block;
    margin: 20px auto 0;
    text-align: center;
    text-decoration: none;
    color: #144900; 
    font-weight: bold;
}

#more:hover{
    color: white; 
    background-color: #144900;
    font-weight: bold;
}

h2{
    margin-left: 20px;
}

.testimonials-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.tcontainer{
    width:380px;
    height: 280px;
    color: white;
    background-color: #2B6D12;
    border-radius: 8px;
    overflow: hidden;   /*Maybe i can do something about that hero with this too */
    box-shadow: 0px 2px 5px rgba(115, 181, 91, 0.9);
    margin:20px;
}

#tpic{
    border-radius: 40px;
    border: 2px solid white;
    margin: 20px;
}

.praise p{
    line-height: 1.4;
    text-align: center;
    padding: 0px 10px 0px 10px;
    text-wrap: wrap;
}

.praise span{
    font-weight: bold;
    color: #A5DA91;
}

.pricing{
    background-color: white;
}

.pricing-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pcontainer{
    width: 400px;
    height: 250px;
    background-color:#A5DA91;
    border-radius: 12px;
    margin: 20px;
    padding:20px;
    text-align: center;
    box-shadow: 0 0 0 3px #2B6D12 inset;
}

#installments{
    position: relative;
    background-color: #144900;
    box-shadow: 0 0 0 3px #A5DA91 inset;
}

#installments h6{
    color: #A5DA91;
}


#installments small{
    color: #A5DA91;
}

.ribbon{   /*that tag indicator for the installment plan */
    position: absolute;
    top: 10px;
    text-align: center;
    right: -2px;
    background-color: #f4b400;
    color: black;
    font-weight: bold;
    padding: 0px 40px;
    font-size: 12px;
    width: 200px;
}

.pcontainer h6{
    margin-top: 40px;
    text-transform: capitalize;
    color: #2B6D12 ;
    font-size: 25px;
}

.pcontainer p{
    text-transform: capitalize;
    color: white;
    font-size: 30px;
    padding: 20px;
}

.pcontainer small{
    text-transform: capitalize;
    color: #2B6D12;
}

.info{
    margin-top: 20px;
    text-align: center;
}

.words{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.words div{
    padding: 5px;
    margin: 5px;
}